<div class="row">
  <div class="col-md-12 text-center">
    <h3>Which one is better?</h3>
	<% if @ncomparisons == 1 %>
	  <h5><%= @study_name %>: You have made <%= @ncomparisons %> two-way comparison in this study.</h5>
	<% else %>
	  <h5><%= @study_name %>: You have made <%= @ncomparisons %> two-way comparisons in this study.</h5>
	<% end %>
	<% if @ncomparisons > 0 %>
	  <%= link_to raw("<button type=\"button\" class=\"btn btn-danger btn-sm\">undo previous comparison</button>"), undo_comparison_path(@study_id), {accesskey: "u"} %>
	<% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
	  <div class="row">
        <div class="col-md-6">
		  <% if @item1.link %>
	        <h4 class="text-center"><%= link_to @item1.name, @item1.link, {target: "_blank"} %></a></h4>
	      <% else %>
		    <h4 class="text-center"><%= @item1.name %></a></h4>
		  <% end %>
	      <br>
		  <% if @item1.image %>
	        <a href="<%= @item1.image %>" target="_blank" class="thumbnail" style="width:30%;float:left;margin-right:10px;margin-bottom:5px;">
	          <img src="<%= @item1.image %>">
	        </a>
		  <% end %>
		  <small><%= @item1.description %></small>
	    </div>
	    <div class="col-md-6">
	      <% if @item2.link %>
	        <h4 class="text-center"><%= link_to @item2.name, @item2.link, {target: "_blank"} %></a></h4>
		  <% else %>
		    <h4 class="text-center"><%= @item2.name %></a></h4>
		  <% end %>
	      <br>
		  <% if @item2.image %>
	        <a href="<%= @item2.image %>" target="_blank" class="thumbnail" style="width:30%;float:right;margin-left:10px;margin-bottom:5px;">
	          <img src="<%= @item2.image %>">
	        </a>
		  <% end %>
		  <small><%= @item2.description %></small>
	    </div>
	  </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
    <%= link_to raw("<button type=\"submit\" class=\"btn btn-success\">&larr; This one!</button>"), two_way_comparison_path(@item1.id, 1, @item2.id, 2), {accesskey: "1"} %>
    <%= link_to raw("<button type=\"submit\" class=\"btn btn-primary\">Not sure.</button>"), two_way_comparison_path(@item1.id, 1, @item2.id, 1), {accesskey: "n"} %>
    <%= link_to raw("<button type=\"submit\" class=\"btn btn-success\">This one! &rarr;</button>"), two_way_comparison_path(@item1.id, 2, @item2.id, 1), {accesskey: "2"} %>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h5>Tip: <%= link_to "Use keyboard shortcuts to speed up comparisons (opens in a new tab).", keyboard_path, {target: "_blank"} %></h5>
  </div>
</div>