<%= javascript_include_tag 'twcscript' %>

<div class="row">
  <div class="col-md-12 text-center">
    <h1>How would you compare these? Ties are OK.</h1>
	<% if @ncomparisons == 1 %>
	  <h4><%= @study_name %>: You have made <%= @ncomparisons %> three-way comparison in this category.</h4>
	<% else %>
	  <h4><%= @study_name %>: You have made <%= @ncomparisons %> three-way comparisons in this category.</h4>
	<% end %>
  </div>
</div>
<br>
<%= form_tag three_way_comparison_path(@item1.id, @item2.id, @item3.id), method: "get" do %>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
	    <div class="row">
          <div class="col-md-4">
		    <% if @item1.link %>
	          <h3 class="text-center"><%= link_to @item1.name, @item1.link, {target: "_blank"} %></a></h3>
	        <% else %>
		      <h3 class="text-center"><%= @item1.name %></a></h3>
		    <% end %>
		  </div>
          <div class="col-md-4">
		    <% if @item2.link %>
	          <h3 class="text-center"><%= link_to @item2.name, @item2.link, {target: "_blank"} %></a></h3>
	        <% else %>
		      <h3 class="text-center"><%= @item2.name %></a></h3>
		    <% end %>
		  </div>
          <div class="col-md-4">
		    <% if @item3.link %>
	          <h3 class="text-center"><%= link_to @item3.name, @item3.link, {target: "_blank"} %></a></h3>
	        <% else %>
		      <h3 class="text-center"><%= @item3.name %></a></h3>
		    <% end %>
		  </div>
	    </div>
	    <br>
		<% if @item1.image || @item2.image || @item3.image %>
	      <div class="row">
		    <div class="col-md-4">
  		      <% if @item1.image %>
    		    <div class="row">
			      <div class="col-md-3"></div>
    		      <div class="col-md-6">
    			    <a href="<%= @item1.image %>" target="_blank" class="thumbnail">
    			      <img src="<%= @item1.image %>">
    			    </a>
    		      </div>
			      <div class="col-md-3"></div>
		        </div>
		      <% end %>
			</div>
		    <div class="col-md-4">
  		      <% if @item2.image %>
    		    <div class="row">
			      <div class="col-md-3"></div>
    		      <div class="col-md-6">
    			    <a href="<%= @item2.image %>" target="_blank" class="thumbnail">
    			      <img src="<%= @item2.image %>">
    			    </a>
    		      </div>
			      <div class="col-md-3"></div>
		        </div>
		      <% end %>
			</div>
		    <div class="col-md-4">
  		      <% if @item3.image %>
    		    <div class="row">
			      <div class="col-md-3"></div>
    		      <div class="col-md-6">
    			    <a href="<%= @item3.image %>" target="_blank" class="thumbnail">
    			      <img src="<%= @item3.image %>">
    			    </a>
    		      </div>
			      <div class="col-md-3"></div>
		        </div>
		      <% end %>
			</div>
		  </div>
		<% end %>
		<div class="row">
		  <div class="col-md-4">
			<small><%= @item1.description %></small>
		  </div>
		  <div class="col-md-4">
			<small><%= @item2.description %></small>
		  </div>
		  <div class="col-md-4">
			<small><%= @item3.description %></small>
		  </div>
		</div>
	    <input style="display:none;" type="text" name="rank1" value="1">
		<input style="display:none;" type="text" name="rank2" value="2">
		<input style="display:none;" type="text" name="rank3" value="3">
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
	  <button type="submit" class="btn btn-primary btn-lg">Submit!</button>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>