<div class="row">
  <div class="col-md-12 text-center">
    <h1>Which one is better?</h1>
	<h4><%= @category_name %></h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="jumbotron">
	  <div class="row">
        <div class="col-md-6">
	      <h3 class="text-center"><%= link_to @member1.name, @member1.link, {target: "_blank"} %></a></h3>
	      <br>
	      <%= @member1.description %>
	    </div>
	    <div class="col-md-6">
	      <h3 class="text-center"><%= link_to @member2.name, @member2.link, {target: "_blank"} %></a></h3>
	      <br>
	      <%= @member2.description %>
	    </div>
	  </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
  	<button class="btn btn-success btn-lg">&larr; This one!</button> 
  	<button class="btn btn-primary btn-lg">Not sure.</button> 
  	<button class="btn btn-success btn-lg">This one! &rarr;</button> 
  </div>
  <div class="col-md-3"></div>
</div>