<%= javascript_include_tag 'twcscript' %>

<div class="row">
  <div class="col-md-12 text-center">
    <h3>How would you compare these?</h3>
	<% if @ncomparisons == 1 %>
	  <h5><%= @study_name %>: You have made <%= @ncomparisons %> three-way comparison in this category.</h5>
	<% else %>
	  <h5><%= @study_name %>: You have made <%= @ncomparisons %> three-way comparisons in this category.</h5>
	<% end %>
	<% if @ncomparisons > 0 %>
	  <%= link_to raw("<button type=\"button\" class=\"btn btn-danger btn-sm\">undo previous comparison</button>"), undo_comparison_path(@study_id), {accesskey: "u"} %>
	<% end %>
  </div>
</div>
<br>
<%= form_tag three_way_comparison_path(@item1.id, @item2.id, @item3.id), method: "get" do %>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
	    <div class="row">
          <div class="col-md-4">
		    <% if @item1.link %>
	          <h4 class="text-center"><%= link_to @item1.name, @item1.link, {target: "_blank"} %></a></h4>
	        <% else %>
		      <h4 class="text-center"><%= @item1.name %></a></h4>
		    <% end %>
		  </div>
          <div class="col-md-4">
		    <% if @item2.link %>
	          <h4 class="text-center"><%= link_to @item2.name, @item2.link, {target: "_blank"} %></a></h4>
	        <% else %>
		      <h4 class="text-center"><%= @item2.name %></a></h4>
		    <% end %>
		  </div>
          <div class="col-md-4">
		    <% if @item3.link %>
	          <h4 class="text-center"><%= link_to @item3.name, @item3.link, {target: "_blank"} %></a></h4>
	        <% else %>
		      <h4 class="text-center"><%= @item3.name %></a></h4>
		    <% end %>
		  </div>
	    </div>
	    <br>
		<div class="row">
		  <div class="col-md-4">
			<% if @item1.image %>
		      <a href="<%= @item1.image %>" target="_blank" class="thumbnail" style="width:50%;float:left;margin-right:10px;margin-bottom:5px;">
		        <img src="<%= @item1.image %>">
		      </a>
			<% end %>
			<small><%= @item1.description %></small>
		  </div>
		  <div class="col-md-4">
  			<% if @item2.image %>
  		      <a href="<%= @item2.image %>" target="_blank" class="thumbnail" style="width:50%;float:left;margin-right:10px;margin-bottom:5px;">
  		        <img src="<%= @item2.image %>">
  		      </a>
  			<% end %>
			<small><%= @item2.description %></small>
		  </div>
		  <div class="col-md-4">
  			<% if @item3.image %>
  		      <a href="<%= @item3.image %>" target="_blank" class="thumbnail" style="width:50%;float:left;margin-right:10px;margin-bottom:5px;">
  		        <img src="<%= @item3.image %>">
  		      </a>
  			<% end %>
			<small><%= @item3.description %></small>
		  </div>
		</div>
	    <input style="display:none;" type="text" name="rank1" value="0">
		<input style="display:none;" type="text" name="rank2" value="0">
		<input style="display:none;" type="text" name="rank3" value="0">
		<br>
		<div class="row">
		  <div id="item1" class="col-md-4 text-center">
			<button id="rank1" accesskey="1" type="button" class="btn btn-primary">rank first</button>
		  </div>
		  <div id="item2" class="col-md-4 text-center">
			<button id="rank2" accesskey="2" type="button" class="btn btn-primary">rank first</button>
		  </div>
		  <div id="item3" class="col-md-4 text-center">
			<button id="rank3" accesskey="3" type="button" class="btn btn-primary">rank first</button>
		  </div>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-md-12 text-center">
		  <button id="restart" type="button" class="btn btn-success" accesskey="r">restart</button>
		  <button style="display:none;" id="submit" type="submit" class="btn btn-primary" accesskey="s">submit</button>
	    </div>
	  </div>
    </div>
  </div>
<% end %>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>Tip: <%= link_to "Use keyboard shortcuts to speed up comparison (opens in a new tab).", keyboard_path, {target: "_blank"} %></p>
  </div>
</div>