<div class="row">
  <div class="col-md-5">
	<h1>My Account</h1>
	<br>
    <%= form_tag modify_user_path, method: "get" do %>
	  <div class="input-group input-group">
	    <span class="input-group-addon">email</span>
	    <input name="user_email" type="text" class="form-control" value="<%= session[:user_email] %>">
      </div>
	  <br>
	  <div class="input-group input-group">
	    <span class="input-group-addon">first name</span>
	    <input name="user_name" type="text" class="form-control" value="<%= session[:user_name] %>">
      </div>
	  <br>
      <button type="submit" class="btn btn-primary">update account information</button>
    <% end %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
	<h1>My Statistics</h1>
	<br>
	<% if @ncomparisons == 1 %>
	  <h4>You have made <%= @ncomparisons %> comparison.</h4>
	<% else %>
	  <h4>You have made <%= @ncomparisons %> comparisons.</h4>
	<% end %>
  </div>
  <div class="col-md-1"></div>
</div>