<div class="row">
  <div class="col-md-12">
    <h1><%= link_to "My Studies:", manage_study_path(session[:user_id]) %> <%= @study.name %></h1>
  </div>
</div>
<br>
<div class="row">
  <%= form_tag add_to_study_path, method: "get" do %>
    <div class="col-md-5">
      <div class="input-group">
        <span class="input-group-addon">new item</span>
        <input name="item_name" type="text" class="form-control" placeholder="Name">
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group">
		<span class="input-group-addon">description</span>
        <input name="item_description" type="text" class="form-control" placeholder="Description">
      </div>
    </div>
	<div class="col-md-2">
	  <button class="btn btn-primary">add item</button>
	</div>
  <% end %>
</div>
<br>
<div class="row">
  <%= form_tag import_to_study_path, method: "get" do %>
    <div class="col-md-10">
      <div class="input-group">
        <span class="input-group-addon">import items from Wikipedia category</span>
        <input name="category_name" type="text" class="form-control" placeholder="Category">
      </div>
    </div>
	<div class="col-md-2">
	  <button class="btn btn-primary">import category</button>
	</div>
  <% end %>
</div>
<br>
<div class="row">
  <div class="col-md-12">
	<div class="panel panel-default">
	  <table class="table">
		<tr>
	      <th>Item</th>
		  <th>Description</th>
		  <th>Options</th>
		</tr>
		<% @items.each do |item| %>
		  <tr>
			<% if item.link %>
		  	  <td class="col-md-3"><%= link_to item.name, item.link, {target: "_blank"} %></td>
			<% else %>
			  <td class="col-md-3"><%= item.name %></td>
			<% end %>
			<td class="col-md-8"><%= item.description %></td>
			<td class="col-md-1">
			  <div class="btn-group">
                <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">
                  delete <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "delete item forever", remove_from_study_path(@study.id, item.id) %></li>
                </ul>
              </div>
			</td>
		  </tr>
		<% end %>
	  </table>
    </div>
  </div>
</div>