<div class="row">
  <div class="col-md-12">
	<h1>My Studies</h1>
  </div>
</div>
<br>
<div class="row">
  <%= form_tag new_study_path, method: "get" do %>
    <div class="col-md-10">
      <div class="input-group">
        <span class="input-group-addon">new study</span>
        <input name="study_name" type="text" class="form-control" placeholder="name">
      </div>
    </div>
	<div class="col-md-2">
	  <button class="btn btn-primary">create study</button>
	</div>
  <% end %>
</div>
<br>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
  	  <table class="table">
  		<tr>
  	      <th>Study</th>
		  <th>Options</th>
		  <th>Link to Share</th>
		  <th>Export Comparison Data</th>
  		</tr>
  	    <% @studies.each do |study| %>
  	      <tr>
  			<td class="col-md-3"><%= link_to study.name, show_study_path(study.id) %></td>
			<td class="col-md-4">
			  <% if study.active == false %>
  			    <div class="btn-group">
                  <%= link_to raw("<button type=\"button\" class=\"btn btn-sm btn-primary\">edit</button>"), edit_study_path(study.id) %>
                </div>
 		        <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                    activate <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "activate study (you will no longer be able to edit study)", activate_study_path(study.id) %></li>
                  </ul>
                </div>
			  <% else %>
  			    <div class="btn-group">
                  <%= link_to raw("<button type=\"button\" class=\"btn btn-sm btn-primary dropdown-toggle\">start comparing</button>"), assign_comparison_path(study.id) %>
                </div>
			    <% if study.public == false %>
   		          <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                      private <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "make study public (study will be listed on studies page)", publicize_study_path(study.id) %></li>
                    </ul>
                  </div>
				<% else %>
   		          <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                      public <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "make study private (study will not be listed on studies page)", hide_study_path(study.id) %></li>
                    </ul>
                  </div>
				<% end %>
			  <% end %>
 		      <div class="btn-group">
                <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">
                  delete <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "delete study forever", destroy_study_path(study.id) %></li>
                </ul>
              </div>
			</td>
			<td class="col-md-3">
		      <% if study.active %>
			    <div class="input-group input-group-sm">
			      <input type="text" class="form-control" value="http://<%= request.host_with_port %><%= assign_comparison_path(study.id) %>">
				</div>
			  <% end %>
			</td>
			<td class="col-md-2">
			  <% if study.active %>
 		        <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                    export as CSV <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "comparisons with item names", comparisons_and_items_study_path(format: :csv, study_id: study.id) %></li>
                  </ul>
                </div>
			  <% end %>
			</td>
  		  </tr>
  	    <% end %>
  	  </table>
    </div>
  </div>
</div>